* {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    left: 0;
}

header .container-fluid .row {
    height: 90px;
    background-color: rgba(0, 0, 0, .6);
}

header .upgrade {
    border-radius: 50px;
}

header .upgrade:hover {
    transform: scale(1.1);
}

body {
    height: 100vh;
    width: 100vw;
}


/* ASIDE */

aside {
    left: 0;
    top: 0;
    background-color: black;
    height: calc(100vh - 90px);
}

aside.xs {
    width: 45px;
}

aside.sm {
    width: 200px;
}

.menu li:hover,
.add:hover {
    border-left: 4px solid green;
    color: white;
}


/* LOGO */

.logo {
    height: 90px;
    padding: 10px 20px 10px 20px;
}


/* MAIN */

main {
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 100%;
    padding: 90px 0 90px 45px;
    overflow-x: hidden;
}

.user div:nth-child(1) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.filter li .active {
    display: none;
    border-bottom: 2px solid green;
    width: 25px;
}

.filter ul li:hover .active {
    display: block;
}

main .card {
    background-color: rgba(0, 0, 0, 0);
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.349);
    top: 0;
    left: 0;
    border-radius: 4px 4px 0 0;
}

main .card:hover .overlay {
    display: flex;
}


/* FOOTER */

footer {
    background-color: rgb(48, 48, 48);
    bottom: 0;
    left: 0;
    height: 90px;
}

footer .wrap-img {
    width: 30px;
    height: 30px;
}

footer .wrap-img img {
    object-fit: cover;
}

footer .wrap-bar {
    width: 35%;
    height: 5px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50px;
}

.bar {
    width: 15%;
    height: 100%;
    background-color: white;
    border-radius: 50px;
}


/* UTILITIES */


/* text color*/

.txt-white-5 {
    color: rgba(255, 255, 255, .5);
}


/* text */

.txt-12 {
    font-size: 12px;
}

.txt-20 {
    font-size: 20px;
}

.txt-25 {
    font-size: 25px;
}

.txt-40 {
    font-size: 40px;
}


/* margin */

.ml-20 {
    margin-left: 20px;
}

.ml-10 {
    margin-left: 10px;
}


/* padding */

.p-20 {
    padding: 20px;
}

@media all and (min-width:576px) {
    main {
        padding-left: 200px;
    }
}